@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
body{
background-color :rgb(152, 199, 248)
} 

header{
    background-color: rgb(165, 166, 167);
    padding: 10px;
    border-bottom: 4px solid blue;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

    header h3{
        font-size: 30px;
        color:rgb(243, 236, 236)
        font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin: 0;
    }
.nav ul{ 
    list-style: lower-roman;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav ul li{
    margin-left: 20px;
    font-size: 20px;

}
header ul li a{
    color:black;
    text-decoration: none;
    transition: color 0.5s;


}

header ul li a:houver{
    color:chartreuse;
}
.foto{
    display: flex;
    justify-content: center;
}
.foto-perfil{
    width: 130px;
    height: 150px;
    margin:20px;
    border: 3px solid rgb(144, 144, 182);
}
.info{
    text-align: center;
}